<div style="width: 50% ; padding: 5rem;">
    <div class="card card--primary">
        <header class="card--header">
            Card Header
        </header>
        <div class="card--body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et deleniti adipisci. Itaque quaerat vero magnam ut. Asperiores fuga magnam necessitatibus odio? Laborum ut perferendis optio provident aperiam sequi unde ad iure sapiente minus pariatur eligendi magnam, obcaecati commodi quod numquam illo reiciendis adipisci doloribus eaque distinctio. Ipsa, dignissimos? Necessitatibus.
        </div>
    </div>
</div>