<div class="hero block block--dark block--shwed--left">
    <div class="container grid grid--1x2">
        <header class="hero--content block--header">
            <h1 class="block--heading">Cloud J<br> Uplift your content</h1>
            <p class="hero--tagline">An iconic Tech Experience...</p>
            <a href="#" class="btn btn--accent btn--long">GET STARTED</a>
        </header>
        <picture>
            <source class="hero--image" type="img/webp" srcset="img/banner@1x.webp 1x,img/banner@2x.webp 2x">
            <source class="hero--image" type="img/png" srcset="img/banner@1x.png 1x,img/banner@2x.png 2x">
            <img class="hero--image" src="img/banner1.webp" alt="banner">
        </picture>
    </div>
</div>