<div class="media">
    <div class="media--image">
        <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media--body">
        <h3 class="media--title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam iure nam eum architecto molestiae asperiores, inventore adipisci blanditiis quas repudiandae accusantium labore quaerat possimus quasi, natus mollitia. Molestias, similique? Aliquam.</p>
    </div>
</div>