<nav class="nav collapsible">
    <a href="#">
        <img class="logo" src="img/logo.png" alt="logo">
    </a>
    <svg class="icon icon--white menu--icon">
        <use xlink:href="img/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav--list collapsible--content">
        <li class="nav--item"><a href="#">Hosting</a></li>
        <li class="nav--item"><a href="#">VPS</a></li>
        <li class="nav--item"><a href="#">Domain</a></li>
        <li class="nav--item"><a href="#">Pricing</a></li>
    </ul>
</nav>