<div style="width: 50% ; padding: 5rem;">
    <div class="plan plan--popular">
        <div class="card card--primary">
            <header class="card--header">
                <h3 class="plan--name">Entry</h3>
                <span class="plan--price">₹1050</span>
                <span class="plan--duration">/month</span>
                <span class="badge badge--primary badge--small">10% off</span>
                <span class="plan--description">Easy Start on Cloud J</span>
            </header>
            <div class="card--body">
                <ul class="list list--tickmark">
                    <li class="list--item">Item 1</li>
                    <li class="list--item">Item 2</li>
                    <li class="list--item">Item 3</li>
                    <button class="btn btn--outline btn--block">Buy Now</button>
                </ul>
            </div>
        </div>
    </div>
</div>